<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Anime</title>
    <script src="js/vue2.js"></script>

</head>
<body>

    <div id="elemento">
    
      <ul>

         <li  v-for="n in 10">
           {{ 11-n }}
        </li>

        <h1 v-if="boton!=''">{{ boton }}</h1>

        <li  v-for="item in items">

          <button v-on:click="nameboton">

            {{ item }}

          </button>

       </li>

      </ul>

    </div>

    <script>

    new Vue({

      el:"#elemento",
      data:{
       
        items: [
        
        "Naruto",
        "Dragon Ball",
        "Pokemon"

        ],
      
        boton:"",
      
      },

      methods: {
        
         nameboton: function(e){

          this.boton= e.target.innerText;

         }

      },
        
    });


    </script>
 
</body>
</html>